{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block title %} {{ title }} | {{ block.super }}{% endblock title %}

{% block content %}
{% include "core/messages.html" %}

<div class="alert alert-info text-center" role="alert"><h5><b>Your Current Account Balance is {{request.user.balance}} ₹</b></h5></div>
<br><br>
<div class="col-8">
<h2 >{{ title }}</h2><hr>
<form method="POST" action="" >
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <input class="btn btn-primary" type="submit" value='{{ title }}'>
</form>
</div>
{% endblock content %}

