{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block title %} {{ title }} | {{ block.super }}{% endblock title %}

{% block content %}
{% include "core/messages.html" %}
<h1 class="text-center border border-top-0 bg-light text-dark">{{ title }}</h1><br><br>


<form method="POST" action="" enctype='multipart/form-data' class="col-10 mx-auto border form-label shadow-lg p-3 mb-5 bg-body-tertiary rounded bg-light text-dark">
    {% csrf_token %}
    {% for field in user_form %}
        {% if field.name != 'password' %}
            <div class="form-group">
                {{ field|as_crispy_field }}
            </div>
        {% endif %}
    {% endfor %}
    {% for field in account_form %}
        <div class="form-group">
            {{ field|as_crispy_field }}
        </div>
    {% endfor %}
    {% for field in address_form %}
        <div class="form-group">
            {{ field|as_crispy_field }}
        </div>
    {% endfor %}
    <br>
    <button class="btn btn-success" type="submit">Submit</button>
</form>
{% endblock content %}
