
<br><br><br>
<footer class="navbar-fixed mt-2" style="background-color: #262a34; position: hidden; bottom: 0; width: 100%;">
    <!--Footer Links-->
    <div class="container" style="color: #fff;">
        <div class="row mt-2">
            <!--First column-->
            <div class="col-md-6 my-1">
                <h3 class="title"><b>PARAGON</b></h3>
                <p>Paragon Bank is a leading private sector bank in India. The Bank’s consolidated total assets stood at Rs.00.00 trillion at Feb 16, 2020</p>
            </div>
            <!--/.First column-->
            <!--Second column-->
            <div class="col-md-6 my-1">
                <h3 class="title"><b>LINKS</b></h3>

                <a href="{% url 'home' %}"> HOME </a>|
                <a href="{% url 'about' %}"> ABOUT US</a> |&nbsp;


            </div>
            <!--/.Second column-->
        </div>
    </div>
</footer>
